@import "tailwindcss";

@layer components {
  .btn-primary {
    @apply bg-blue-500 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded;
  }

  .btn-secondary {
    @apply bg-yellow-400 hover:bg-yellow-500 text-black font-bold py-2 px-4 rounded;
  }

  .btn-danger {
    @apply bg-red-600 hover:bg-red-500 text-white font-bold py-2 px-4 rounded;
  }
}